<h1>Вся продукция</h1>
<h3>@Model.curCategory</h3>
<div class="row mt-5 mb-3">
    @{
        foreach (Product product in Model.AllProducts)
        {
            @Html.Partial("AllProducts", product)
        }
    }
</div>
