<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/Style.css" type="text/css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PiroJOK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Products/List">Вся продукция</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Products/List/Tort">Тортики</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Products/List/Pirog">Пирожки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ShopCart/">Корзина</a>
                        </li>
                        <li class="nav-item">
                            <form class="d-inline-flex">
                                <input class="form-control mr-2" type="search" placeholder="Поиск по сайту" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Найти</button>
                            </form>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a class="nav-link" href="/ShopCart/">Корзина</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2020 Malchez, Inc. · <a href="#">Все права защещены</a> · <a href="#">Соглашение</a></p>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>

</html>
